*, ::after,::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

html {
    font-size: 100%;
} /*16px*/

/*fonts*/
:root {
    /*color*/
    --primary-100: hsl(244, 100%, 94%);
    --primary-200: hsl(243, 100%, 87%);
    --primary-300: hsl(243, 100%, 81%);
    --primary-400: hsl(243, 100%, 75%);
    --primary-500: hsl(243, 100%, 68%);
    --primary-600: hsl(243, 56%, 55%);
    --primary-700: hsl(243, 47%, 41%);
    --primary-800: hsl(243, 47%, 27%);
    --primary-900: hsl(244, 48%, 14%);
    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /*rest of colors*/
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    /*font*/
    --headingFont: 'Spectral', serif;
    --bodyFont: 'Karla', sans-serif;
    --smallText: 0.7em;
    /*rest of the vars*/
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letter-spacing: 3px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px; /*optional 1170*/
    --fixed-width: 600px;
    /*box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),  0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small, .text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    width: 40vw;
    max-width: var(--max-width);
    border: 2px solid var(--primary-500);
    border-radius: var(--borderRadius);
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letter-spacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
}
.btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
}
.btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
}
.btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
}

.btn-block {
    width: 100%;
}

/*alerts*/
.alert {
    padding: 0.375rem 0.25;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}

.alert-danger {
    color: var(--red-dark);
    background: var(--red-light);
}
.alert-success {
    color: var(--green-dark);
    background: var(--green-light);
}

/*form*/
.form {
    width: 90vw;
    max-width: var(--fixed-width);
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
}
.form-label {
    display: block;
    font-size: var(--smallText);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
}
.form-input, .form-textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: var(--backgroundColor);
    border: 1px solid var(--grey-200);
}
.form-row {
    margin-bottom: 1rem;
}
.form-textarea {
    height: 7rem;
}
::placeholder {
    font-family: inherit;
    color: var(--grey-400);
}
.form-alert {
    color: var(--red-dark);
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
}

/* loading alert*/

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    /*animation: spinner 1s linear infinite; */
    margin: 0 auto;
}

.title {
    text-align: center;
}
.title-underline {
    background: var(--primary-500);
    width: 7rem;
    height: 0.25rem;
    margin: 0 auto;
}

/*
=================
Nav
=================
*/
nav {
    background: var(--white);
    height: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-2);
}
.nav-center {
    width: 90vw;
    max-width: var(--fixed-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-center h4 {
    margin-bottom: 0;
    color: var(--primary-500);
    letter-spacing: var(--letter-spacing);
    font-weight: 600;
}
.nav-links {
    display: flex;
    /*gap: 0 1rem; */
}
nav a {
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--primary-900);
    letter-spacing: var(--letter-spacing);
    margin-left: 1rem; /*gap: 0 1rem*/
    transition: var(--transition);
}
nav a:hover {
    color: var(--primary-500);
}

/*
=================
Container
=================
*/
main {
    height: calc(100vh - 4rem);
    display: grid;
    place-items: center;
}
.container {
    width: 90vw;
    max-width: var(--fixed-width);
    border: none;
    text-align: center;
}
.container h2 {
    background: var(--black);
    color: var(--white);
    margin-bottom: 2.5rem;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letter-spacing);
    font-weight: 600;
}
.color {
    color: var(--primary-500);
    text-transform: uppercase;
}
.btn-hero {
    background: transparent;
    color: var(--black);
    border: 2px solid var(--black);
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.btn-hero:hover {
    color: var(--white);
    background: var(--black);
}
